body {
    /* Typography */
    font-size: 20px;
    color: #3e4444;
    line-height: 27px;
  
    /* Visual */
    background-color: rgba(245, 245, 245, 0.719);
  }
#jumbotron {
      background-size: 100%;
      color: #b2ad7f
      
      
      
 }
h1{
      z-index: 0;
      text-decoration-color: #b2ad7f;
      text-align: center;
      text-decoration-line: underline;
      font-family: Georgia, 'Times New Roman', Times, serif;
      
  }
  .container {
      margin: 3px, 3px, 3px, 3px;
      text-align: left;
  }
  .form-control {
    display: inline-block;
    width: 45%;
    border: 2px solid lightsteelblue;
  }
  #form {
      margin-right: 50px;
      margin-left: 30px;
      align-content: left;
      border-bottom: 3px;
  }
 
  /* TABLE */

  td{
    padding: 8px;
    vertical-align: middle;
    border-bottom: solid 1px #dddddd;
  }


 .row {
      border: 10px; background-color: lightgray;
  }
 /* .highlightFrame {
      border-color: black;
  } */
  h5 {
      color #b2ad7f;
      font-size: 22px;
  }
 
  .btn {
      border-block-start-width: 4px;
      border-color: #878f99;
      fill: lightblue;
      flex: whitesmoke;
  }

#map { 
    height: 400px;
    width: 1080px;
    border: 3px solid black;
    align-content: center;
    box-shadow: 12px 12px 29px #555;
}