body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-color: whitesmoke;
  }
  .jumbotron {
      background-size: 100%;
      fill-opacity: inherit;
      align-items: center;
  }
  h1{
      z-index: 0;
      text-align: center;
      color: darkblue;
      fill: lightslategray;
      border-block-end-width: 5px;
    
  }
  nav {
      margin: 20px;
      margin-right: 40px;
      margin-bottom: 10px;
      background-color: lightgrey;
  }
  .container {
      margin: 3px, 3px, 3px, 3px;
      background-color: blanchedalmond;

  }
  #form {
      margin-right: 5px;
  }
  .row {
      border: 10px; background-color: blanchedalmond;
  }
 .highlightFrame {
      border-color: black;
  }
  p {
      color: darkblue;
  }
  .form {
      margin: 3px;

  }
  .button {
      border-color: darkblue;
      fill: lightblue;
      flex: whitesmoke;
  }
  .d-block {
      border-block-end-width: 4px;
      border-block-end-color: rgb(182, 182, 164);
}